#menu-burger {
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 992px) {
  #menu-burger {
    color: var(--main-color);
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
